.navigation {
    border-bottom: 2px solid black;
}

.title {
    display: inline-block;
    margin-left: 19.5%;
}

.navLinks {
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-right: 19.5%;
}

.navLinks a {
    margin-left: 10px;
    color: #7A7A7A;
    text-decoration: none;
    transition: 200ms;
}

.navLinks a:hover {
    color: #484648;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-inner {
    border-radius: 3px;
    border: 2px solid black;
    width: 60%;
    text-align: center;
    height: 87vh;
    overflow: auto;
    padding: 15px;
}